body {
    color: teal;
    background-color: silver;
    font-family: tahoma;
}
h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
        background-color: LightCyan
}
footer {
    background-color: orange
}